<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart Check</title>
</head>
<body width= "200">
<p>
    <center><h1 style="color:Brown"> Prediction of Heart Disease Risk </h1></center>


<form class="form-inline" method="POST" action="{{ url_for('test') }}">
  <div class="form-group">
    <div class="input-group">
        
        <br><br><br><br><br><br><br><br>
        <center><h1> The possibility that you have already developed a heart disease is <br><br>
        {{ risk_out }}%<br>
        which is <br>
        {{ratio_out}} 
        <br>times higher than a healthy person of your age and gender.
        </h1></center>
    <br><br><br><br>
    
    <center><h1>{{ case_out }}</h1></center>
                 
    </div>
    <br><br><br><br><br><br><br><br>

  </div>
</form>

</body>
</html>
