<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart Check</title>
    <style>
body {
  background-image: url('/home/arindam/codes/BRFS/brfss_website/template/heart-attack.jpg');
}
</style>
</head>
<body style="width: 80%, ">
<p>
    <center><h1 style="color:Brown"> Prediction of Heart Disease Risk </h1>
    </center>
<form class="form-inline" method="POST" action="{{ url_for('test') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">    
        <center>
<h2>Enter basic informations: </h2></span>
        <br><br>
        
          Age in Years:  <select name="comp_select1" class="selectpicker form-control">
              {% for o in data1 %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
           <br><br> 
          Sex:  <select name="comp_select2" class="selectpicker form-control">
              {% for o in data2 %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
         <br><br>
<h2>Answer Life Style questions: </h2><br><br>
        <center>
          How often do you smoke:  <select name="comp_select3" class="selectpicker form-control">
              {% for o in data3 %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>         
         </center> 
         <br><br>
         <center>
          How often do have physical activity:  <select name="comp_select4" class="selectpicker form-control">
              {% for o in data4 %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>         
         </center>
         <br><br>
         <center>
         Have you discontinued health coverage in past <select name="comp_select5" class="selectpicker form-control">
              {% for o in data5 %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>         
         </center>
         <br><br>         
       
       <center>
        How much do you sleep everyday (in hours) <select name="comp_select6" class="selectpicker form-control"> 
        {% for o in data6 %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>         
         </center>
         <br><br>
         
        <center>
        Have you ever diagonised with diabetes <select name="comp_select7" class="selectpicker form-control">
        {% for o in data7 %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>         
         </center>
         <br><br>
        
        <center>
        Are you a heavy drinker:
       <p> [Heavy drinkers means adult men having more than 14 drinks per week and adult women having more than 7 drinks per week]</p>
        <select name="comp_select8" class="selectpicker form-control">
        {% for o in data8 %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>         
         </center>
         <br><br>
         
    </div>
    <br><br><br><br><br>
    <center>
    <button type="submit" class="btn btn-default">Calculate Heart Disease Risk</button>
    </center>
  </div>
</form>

</body>
</html>
